:root {
    --h1-size: 2em;
}

html {
    font-family: Roboto, sans-serif;
}

html,
html[theme="white"] {
    --bg-color: white;
    --color: #181818;
    --bg-color-overlay: #f6f6f7;
}

html[theme="dark"] {
    --bg-color: #131325;
    --bg-color-overlay: #1e1e30;
    --color: white;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    color: var(--color);
    background-color: var(--bg-color);
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
    height: auto;
    background-color: var(--bg-color-overlay);
}

header > * {
    margin: 8px;
}

header .title {
    cursor: pointer;
    font-size: 2em;
}

.main-blocks {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-blocks .information {
    border: 1px solid grey;
    width: 300px;
    padding: 10px;
    margin: 10px 0;
}

.main-blocks .information .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.main-blocks .svg-block {
    flex: 1;
}

button {
    height: 40px;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    background-color: #2d83cd;
    min-width: 100px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #2d83cd;
}

i {
    cursor: pointer;
}

header i {
    font-size: var(--h1-size) !important;
}

header .algo-toggle div {
    margin-right: 10px;
    opacity: 0.5;
    cursor: pointer;
}

header .algo-toggle div.selected {
    color: pink;
    opacity: 1;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

svg,
g {
    transition: all 0.7s ease-in-out;
}

.controls {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    padding: 8px;
}
